* {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
}

body {
    padding: 20px 100px;
    background-image: url("../img/svg/pattern.svg");
}

main {
    width: 70%;
    margin-right: 20px;
}

aside {
    width: 30%;
}

.darkGray {
    color: #333639;
}

.inline-block {
    display: inline-block;
}

.infoBlock {
    margin-top: 20px;
    background-color: white;
    padding: 20px 20px;
}

.blockTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
}